* {
    box-sizing: border-box;
}

.main_grid{
    display: grid;
    grid-template-columns: 15% auto;
}

.item2{
    padding: 1em
}

.sticky {
    padding: 0.01em 0;
    background-image: url('https://i.imgur.com/yGmrlyg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 6.5em;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
}


.masthead-heading {
    color: #F1C863;
    margin-top: 0.15em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 4.5em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}


.masthead-heading,
.masthead-intro {
    text-align: center;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

.about_grid{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 50px auto;
}

.Skills{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.Picture{
    padding: 2em 1em 0em 3em;
}


header > p {
    font-family: VT323, monospace;
    align-content: center;
    color: whitesmoke;
    font-size: 3em;
    margin-left: 60px;
}

.Nav { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    width: 15%;
    height: 100%;
    overflow: auto;
}

.Nav > li {
    font-size: 1.5em;
    border-left-width: medium;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.Projects{
    display:grid;
    grid-template-columns: auto auto;
    padding: 0;
    grid-column-gap:1em;
    grid-row-gap: 1em;
    grid-auto-rows: minmax(400px, auto);
}

.Projects > div{
    background: #eee;
    padding:1em;
}

.contact-form{
    font-size: 30px;
}

.contact-form > div > input, textarea{
    font-size: 30px;
    padding-left: 10px;
}

.contact-form > div {
    padding-left: 2px;
}

.contact-form > button{
    font-size: 30px;
}

.individual-projects > a{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    background-color: aqua;
    position: relative;
    animation: bouncy 4s infinite linear;
    z-index: 1;
    border-radius: 15px;
}
@keyframes bouncy {
0%{top:0em}
40%{top:0em}
43%{top:-0.9em}
46%{top:0em}
48%{top:-0.4em}
50%{top:0em}
100%{top:0em;}
}


.individual-projects > a:hover{
    color:#000000;
    background-color:#FFFFFF;
}

.individual-projects > p {
    font-size: 20px;
    text-align: justify;
}

.individual-projects > div{
    text-align: center;
    font-size: 40px;
}

.individual-projects > img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact-me-button {
    border-radius: 12px;
}

.contact-me-button:hover{
    background-color: aqua;
    cursor: pointer;
}


.Picture > img{
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}

.About_Me > p{
    font-size: 1.2em;
}